body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #f7f8f5;
}

img {
  height: 2rem;
  width: auto;
}
.app {
  background-color: #cbe1ad;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 16px;
  color: rgb(14, 13, 13);
  margin: 1% 15%;
}

.sections {
  background-color: #f2f3f5;
  border-radius: 1rem;
  margin: 1rem;
}

.restaurant {
  margin: 1rem;
  margin-bottom: 0;
}

.restaurant-blurhash {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
}

.restaurant-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  bottom: 4rem;
  z-index: 2;
}

form input {
  width: 90%;
  padding: 0.5rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
}
input:focus {
  background-color: #f2f3f5;
  border-radius: 1rem;
}
